/* src/sections/Equipament.css */
.equipament {
  background-color: #1a1a1a; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 60px 20px;
  text-align: center;
}

.equipament h2 {
  color: #ffd700; /* Dorado */
  margin-bottom: 20px;
}

.equipament p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.equipament-logos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.equipament-logos img {
  max-width: 150px;
  transition: transform 0.3s ease;
}

.equipament-logos img:hover {
  transform: scale(1.1);
}
 